<h2>Payments</h2>
<br><br>
<button mat-raised-button color="primary" (click)="openPayPremium()">
  ➕ Pay Premium
</button>

<br><br>
<mat-card>

  <div style="display: flex; flex-direction: row; align-items: center;">
    <!-- SEARCH -->
    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Search payments</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search ID, Hospital, Amount, Type..." />
    </mat-form-field>

    <!-- 🔽 TYPE FILTER -->
    <mat-form-field appearance="outline" style="width: 200px; margin-left: 16px;">
      <mat-label>Filter by Type</mat-label>
      <mat-select (selectionChange)="applyTypeFilter($event.value)" [value]="typeFilter">
        <mat-option *ngFor="let t of types" [value]="t">
          {{ t }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p *ngIf="loading()">Loading payments...</p>

  <!-- TABLE -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" *ngIf="!loading()">

    <!-- Payment ID -->
    <ng-container matColumnDef="paymentId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let p">{{ p.paymentId }}</td>
    </ng-container>


    <ng-container matColumnDef="hospitalName">
      <th mat-header-cell *matHeaderCellDef>Hospital</th>
      <td mat-cell *matCellDef="let p">
        {{ p.hospitalName || '-' }}
      </td>
    </ng-container>

    <!-- Amount -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let p">
        ₹ {{ p.amount }}
      </td>
    </ng-container>

    <!-- Type -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let p">
        <span class="status-badge" [class.status-premium]="(p.paymentType || p.type) === 'Premium'"
          [class.status-claim]="(p.paymentType || p.type) === 'Claim'">
          {{ p.paymentType || p.type }}
        </span>
      </td>
    </ng-container>

    <!-- Date -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let p">
        {{ p.paymentDate | date:'mediumDate' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <!-- PAGINATOR -->
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>

</mat-card>
<br><br>