.error-snackbar {
  background: #d32f2f;
  color: white;
}

table {
  width: 100%;
  margin-top: 16px;
  table-layout: fixed;
}

th.mat-header-cell {
  font-weight: bold;
  color: #333;
}

td.mat-cell {
  padding: 8px 16px;
}